:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-heading-color: ;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}

body {
    background-color: #2C3E50;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}


/* navbar */
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(0, 0, 0, 0.55);
    --bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(255, 255, 255, 0.923);
    --bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

/* Sidebar */
#sidebar-wrapper{
    z-index: 1;
    position: absolute;
     width: 60px;
    height: 100%;
    overflow-y: hidden;
    background: #23252B;
    border: 2px solid black;
    opacity: 0.9;
    padding-top: 100px;
    list-style: none;
    text-decoration: none;
    left: 0;
    overflow-x: hidden;
    text-overflow: clip;
}

/* main content */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-left: 60px;
    border: 5px solid black;
    height: 100%;
    padding-top: 80px;
}

/* Change the width of the sidebar to display it */
#wrapper.menuDisplayed  #sidebar-wrapper{
    width: 250px;
    align-self: center;
    justify-self: center;
}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 250px;
}

/* Sidebar styling */

#sidebar-wrapper li{
    list-style: none;
    line-height: 40px;
    text-decoration: none;
    
}

#sidebar-wrapper li a{
    display: block;
    text-decoration: none;
    color: #ddd;
    list-style: none;
    line-height: 50px;
}

.hiddensp {
    display: none;
    margin-left: 15px;
}
#sidebar-wrapper li a:hover{
    background-color: rgb(26, 118, 194);
}
#sidebar-wrapper i{
    padding-right: 10px;
    margin-left: -10px;
  }

#menu-toggle{
    color: #fff;
    position: fixed;
    cursor: pointer;
    font-size: 20px;
    margin: 5px 5px;
    transition: 0.5s;
    transition-property: color;
    background-color: #23252B;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.navbar-brand{
    margin-left: 4rem;
}

.menu-item{
    color: white;
    list-style: none;
}
#menuDropdown{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    font-size: 20px;
    margin: -0.5rem -8rem;
    transition: 0.5s;
    transition-property: color;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-menu {
    position: absolute; 
    transform: translate3d(0px, 38px, 0px); 
    top: 0px; 
    left: -8rem;
     will-change: transform;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    text-align: center;
}
.sortable-list {
    width: 371px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: #fff;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    align-items: center;
}
.sortable-item {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
.p-4 {
    padding: 1.5rem!important;
}
.d-flex {
    display: flex!important;
}
#trelloheader {
    text-align: center;
    background: deepskyblue;
    border: 2px solid black;
    padding: 8px;
}
section {
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
}
#boardtittle {
    color: #ddd;
}

.cl-form-control{
    background: #2d3d4d;
    color:#ddd;
    border-style: none;
}
.table-bordered {
    background: #292b33;
    color: #ddd;
    border-color: #ddd;
}

#projectsTable {
    background:#32475d;
    border: 1px solid #ddd ;
    color: #ddd;
    margin-left: 200px;
    margin-top: 60px;
    width: 70%;
}

#status {
    justify-self: center;
    text-align: center;
    width: 95px;
}

#addproject {
    margin-left: 25%;
    margin-top: 1%;
}

/* sticky notes page ideas */
.main-container {
    width: 95%;
    margin: auto;
}

.container1 {
    margin-left: 5%;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;
}

.container3 {
    display: none;
    position: absolute;
    top: 26%;
    left: 40%;
}

textarea{
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
    outline: none;
    border: none;
    width: 275px;
    height: 275px;
    padding: 40px 25px 25px 25px;
}

svg{
    color:rgb(212, 161, 58);
}

#check-icon{
    position: absolute;
    right: 17%;
    top: 40%;
}

#x-icon{
    position: absolute;
    right: 5%;
    top: 40%;
}

.ideas-header {
    color: #ddd;
    text-align: center;
}

.ideas-form {
    margin-top: 160px;
}